body {
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}

div {
    background-color: beige;
    margin: auto;
}